fastapi==0.111.0
uvicorn[standard]==0.30.1

pydantic==2.7.4

python-dotenv==1.0.1

langchain==0.2.1
langchain-community==0.2.1

faiss-cpu==1.8.0

sentence-transformers==2.7.0

pymupdf==1.24.3

requests==2.32.3

mistralai==0.4.2